table tr th:nth-child(1){
    width:150px;
}
table tr th:nth-child(2){
    width:140px;
}
table tr th:nth-child(3){
    width:300px;
}
table tr th:nth-child(4){
    width:300px;
}
table tr{margin: 5px 0 5px 0;}
table tr td, table tr th {
    padding: 5px;
    vertical-align: top;
}