<div class="card-container">
    <h4>Tables</h4>
    <span class="card alert1">This is how tables are displayed</span>
    <table>
        <thead>
            <tr>
                <th>ID</th><th>Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2</td><td>Some Data</td>
            </tr>
        </tbody>
    </table>
    <div class="card">
        <div class="card-body">
            <div class="card-title"><h6>Code</h6></div>
            <span class="card-text">alert();</span>
        </div>
    </div>
</div>
