<div class="card-container">
    <h4>Alerts</h4>
    <span class="card alert1">This is an alert.</span>
    <span class="card alert2">This is also an alert </span>
    <div class="card">
        <div class="card-body">
            <div class="card-title"><h6>Code</h6></div>
            <span class="card-text"><span class="code">alert();</span></span>
        </div>
    </div>
</div>
