.side-nav{
width:200px;
height:600px;
display: inline-block;
position: fixed;
}
.side-nav ul{
     display:inline-block;
     text-decoration: none;
     list-style-type: none;
 }
 .side-nav ul li {
     text-align: center;
     border-radius: 5px;
     background-color: cornsilk;
     margin: 3px 0 0 2px;
 }
 .title{
     background-color: cornflowerblue !important;
     border-radius: 5px !important;
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      min-width:80%;
 }