<div class="side-nav">
    <ul>
        <ng-container  *ngFor="let nl of navList">
        <li *ngIf="nl?.title" class="title">{{nl.text}}</li>
        <li *ngIf="!nl?.title"><a href="{{nl.link}}">{{nl.text}}</a></li>
        </ng-container>
    </ul>
</div>
