

<!-- Toolbar -->
<div class="fixed">
  <div class="toolbar" role="banner">
    <span class="logo"></span>
    <span class="title">Style Guide</span>
      
  </div>
  <app-navigation></app-navigation>
</div>
<div class="content" role="main"></div>
<router-outlet></router-outlet>