<section>
    <div>
        <h4>Titles</h4>
        <span>
            <p>At GreenIT, Titles are a fundamental to our product.</p>
            <div>
                <h1>H1</h1>
                <h2>H2</h2>
                <h3>H3</h3>
                <h4>H4</h4>
                <h5>H5</h5>
                <h6>H6</h6>
            </div>  
               
        </span>
    </div>
    </section>