<section>
    <div>
        <h4>Inputs</h4>
        <span>
            <p>At GreenIT, inputs are a fundamental to our product. 
                The following table shows button usage for GreenIT:</p>
                <table>
                    <thead>
                        <tr><th>Input Type</th><th>Visual</th><th>Usage</th><th>Code</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Text</td>
                            <td><input type="text" /></td>
                            <td>For secondary or less important actions	Should be considered as the go-to style when designing new buttons</td>
                            <td><span class="code">&lt;button class="btn btn-secondary"</span></td>
                        </tr>
                        <tr>
                            <td>Select</td>
                            <td><select><option>Select me</option>></select></td>
                            <td>For general actions, navigation, and filtering	Should be used independently and not in conjunction with other button styles</td>
                            <td><span class="code">&lt;button class="btn btn-default"</span></td>
                        </tr>
                        <tr>
                            <td>Primary</td>
                            <td><button class="btn btn-primary">Select</button></td>
                            <td>To indicate the primary action on a page or view. Avoid using multiple primary buttons in a single view</td>
                            <td><span class="code">&lt;button class="btn btn-primary"</span></td>
                        </tr>
                        <tr>
                            <td>Danger</td>
                            <td><button class="btn btn-danger">Delete</button></td>
                            <td>To indicate potentially dangerous, or destructive actions	Only use this button when necessary</td>
                            <td><span class="code">&lt;button class="btn btn-danger"</span></td>
                        </tr>
                    </tbody>
                </table>
        </span>
    </div>
    </section>