<section>
    <div class="row">
        <div class="col-3">
            <app-side-navigation [navList]="navList"></app-side-navigation>
        </div>
        <div class="col-9">
            <h3>Design Elements</h3>
            
            <span class="design-components">
                <div *ngFor="let component of components">
                    <div>
                        <app-dynamic-component-display [component]="component"></app-dynamic-component-display>
                    </div>

                </div>
            </span>
        </div>
    </div>
</section>
