.nav-bar{
    width: 100%;
    height:30px;
    background-color: #fff;
    position: relative;
    top: 100px;
    margin: auto;
    border-bottom: 1px solid black;
    text-align: center;
}
.nav-list{
    padding-top: 5px;
}
.nav-list li{
    display: inline;
    text-align: center;
    vertical-align: bottom;
    padding: 5px;
    margin: 0 5px 0 5px;
}