
<section class="ui-component">
    <div class="row">
        <div class="col-3">
            <app-side-navigation [navList]="navList"></app-side-navigation>
        </div>
        <div class="col-9">
            <h3>UI Components</h3>
            <span class="components">
                <div *ngFor="let component of components">
                    <div class="component-container">
                        <app-dynamic-component-display [component]="component"></app-dynamic-component-display>
                        <a id="{{component.data.link}}"></a>
                    </div>

                </div>
            </span>
        </div>
    </div>
</section>